* {
    text-align: center;
}

ol {
    margin-left: -40px;
    margin-top: -20px;
    list-style-position: inside;
}

p.note {
    color: red;
}

.note {
    font-size: 20px;
}

#id-selector-demo {
    color: green;
}

li.note[value= "4"] {
    color: blue;
}

